[submodule "gnuboard5"]
	path = gnu5
	url = https://github.com/gnuboard/gnuboard5.git
[submodule "contribute/Browser.php"]
	path = contribute/Browser.php
	url = https://github.com/cbschuld/Browser.php.git
[submodule "contribute/magic-min"]
	path = contribute/magic-min
	url = https://github.com/bennettstone/magic-min.git
[submodule "contribute/html5shiv"]
	path = contribute/html5shiv
	url = https://github.com/aFarkas/html5shiv.git
[submodule "contribute/Respond"]
	path = contribute/Respond
	url = https://github.com/scottjehl/Respond.git
[submodule "contribute/TCPDF"]
	path = contribute/TCPDF
	url = https://github.com/tecnickcom/TCPDF.git
[submodule "contribute/NanumBarunGothic"]
	path = contribute/NanumBarunGothic
	url = https://github.com/zkyz/NanumBarunGothic-webfont.git
[submodule "contribute/Font-Awesome"]
	path = contribute/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "contribute/medium-editor"]
	path = contribute/medium-editor
	url = https://github.com/yabwe/medium-editor.git
[submodule "contribute/medium-editor-tables"]
	path = contribute/medium-editor-tables
	url = https://github.com/yabwe/medium-editor-tables.git
