/*
max-width: 924px
gutter: 15px
input의 height: 56px

테마색(하늘색): #5a91e2
연한 색: #ebeef2
글자 색(회색): #595757
heading색(진한 회색): #3e3a39
스크롤바: #727171, opacity: 0.5
검색창 안내문 색: #9fa0a0
검색창 선택된 카테고리 색: #727171

기본 글씨는 font-weight: 200
굵은 글씨는 700
*/

/* 범용 ****/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
p {
	margin: 0;
	line-height: 1.5em;
}
a:link, a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input[type=text], button {
	width: 100%;
	height: 100%;
	line-height: inherit;
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
button {
	border-radius: 30px;
	cursor: pointer;
}
.checkbox-wrap {
	position: relative;
}
.checkbox-wrap input[type="radio"],
.checkbox-wrap input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
.checkbox-wrap input[type="radio"] ~ label.checkbox,
.checkbox-wrap input[type="checkbox"] ~ label.checkbox {
	position: relative;
	cursor: pointer;
}
.checkbox-wrap input[type="radio"] ~ label.label,
.checkbox-wrap input[type="checkbox"] ~ label.label {
	cursor: pointer;
}
.checkbox-wrap input[type="radio"] ~ label.checkbox > i,
.checkbox-wrap input[type="checkbox"] ~ label.checkbox > i {
	vertical-align: bottom;
}
.checkbox-wrap input[type="radio"] ~ label.checkbox > .checked,
.checkbox-wrap input[type="checkbox"] ~ label.checkbox > .checked {
	position: absolute;
	bottom: 0;
	left: 0;
}
.checkbox-wrap input[type="radio"] ~ label.checkbox > .checked,
.checkbox-wrap input[type="checkbox"] ~ label.checkbox > .checked {
	color: transparent;
}
.checkbox-wrap input[type="radio"]:checked ~ label.checkbox > .checked,
.checkbox-wrap input[type="checkbox"]:checked ~ label.checkbox > .checked {
	color: inherit;
}
.checkbox-wrap input[type="radio"]:checked ~ label.checkbox > .unchecked,
.checkbox-wrap input[type="checkbox"]:checked ~ label.checkbox > .unchecked {
	color: transparent;
}
.hidden {
	display: none;
}
.box {
	height: 56px;
	line-height: 56px;
	background-color: #ffffff;
}
.box > div {
	float: left;
	height: 100%;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.shadow {
	box-shadow: 0px 10px 10px #dee0e0;
}
.radio-button {
	position: relative;
}
.radio-button input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
.radio-button label {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.underline {
	background-color: transparent;
	text-decoration: none;
	border-bottom: 1px solid #5a91e2;
	box-shadow: 0 -6px 0 #5a91e2 inset;
	color: inherit;
}

/* 스크롤바 ****/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #ebeef2;
}
::-webkit-scrollbar-thumb {
	background-color: #cdcbcb;
	border-radius: 5px;
}

/* 로고 ****/
.logo {
	float: left;
	background-image: url("../images/images.svg");
	background-repeat: no-repeat;
}
.logo.logo-org {
	width: 148px;
	height: 50px;
}
.logo.logo-DB {
	width: 33px;
	height: 35px;
	background-position: 0px -60px;
}
.logo.logo-DB-project-banner {
	width: 60px;
	height: 64px;
	background-position: 0px -100px;
}

/* ****/
body {
	margin: 0;
	background-color: #ebeef2;
}
.container {
	font-family: 'Nanum Barun Gothic', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #595757;
}
.container > .header {
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	height: 85px;
	width: 100%;
	padding: 20px;
	line-height: 45px;
	background-color: #ffffff;
	color: #5a91e2;
}
.container > .header:after {
	content: '';
	display: block;
	clear: both;
}
	.container > .header .organization {
		float: left;
	}
	.container > .header .title {
		float: left;
		font-size: 1.5em;
		font-weight: 700;
		margin-top: 10px;
		margin-left: 20px;
	}
	.container > .header .title > .logo {
		margin-right: 10px;
	}
	.container > .header .anchors {
		float: right;
		font-weight: 700;
	}
	.container > .header .anchors a {
		margin-left: 10px;
	}
.inner-container {
	position: relative;
}
.search-keyword-container, .search-result-container {
	max-width: 924px;
	/* script: 항상 중간에 오도록 아래의 값들을 스크립로 변경해 준다. */
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.search-keyword-container {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	padding-top: 115px;
	background: #ebeef2;
}
	.general-keyword {
		padding: 10px 0 0 10px;
		margin-bottom: 15px;
	}
	.general-keyword.box {
		height: auto;
	}
		.general-keyword > div {
			line-height: 36px;
			margin: 0 10px 10px 0;
		}
		.general-keyword > .header {
			color: #5a91e2;
			font-size: 1.5em;
			width: 50px;
			text-align: center;
		}
		.general-keyword .key-list {
			float: left;
			padding: 0 15px;
			border-radius: 20px;
			font-weight: 700;
		}
		.general-keyword .key-list:last-of-type {
			margin-right: 0;
		}
		.general-keyword .key-list i.close {
			margin-left: 10px;
			cursor: pointer;
		}
		.general-keyword .key-list i.header {
			margin-right: 10px;
		}
		.general-keyword .key-list.gen-key {
			background-color: #5a91e2;
			color: #ffffff;
		}
		.general-keyword .key-list.cat-key {
			background-color: #ebeef2;
			color: #727171;
		}
		.general-keyword .key-list.cat-key i.close {
			color: #5a91e2;
		}
		.general-keyword .keyword-input {
			min-width: 170px;
			/* script: 영역이 div.general-keyword의 오른쪽 끝까지 차도록 width를 조정한다. */
		}
	.categorized-keyword {}
		.search-button {
			float: right;
			width: 20%;
		}
		.search-button.box {
			background-color: transparent;
		}
		.search-button button {
			background-color: #5a91e2;
			color: #ffffff;
			font-weight: 700;
		}
		.categories {
			margin-right: 20%;
			margin-bottom: 15px;
		}
		.categories.box {
			background-color: transparent;
		}
			.categories .selection {
				float: left;
				width: 50%;
			}
			.categories .selection > div {
				height: 100%;
				margin-right: 15px;
				background-color: #ffffff;
			}
			.categories .selection label {
				position: relative;
				padding-left: 18px;
				border: solid 2px transparent;
				font-weight: 700;
			}
			.categories .selection label i {
				float: right;
				line-height: inherit;
				font-size: 1.5em;
				margin-right: 10px;
				font-weight: 700;
			}
			.categories .selection input[type=radio]:checked + label {
				padding-left: 18px;
				border-color: #5a91e2;
				color: #5a91e2;
				box-shadow: 0px 10px 10px #dee0e0;
			}
		.sub-categories {
			display: none;
		}
			.example {
				height: 393px;
			}
			.example .chapters {
				float: left;
				width: 40%;
				height: 100%;
			}
				.example .chapters ul {
					background-color: #ebeef2;
					margin-right: 15px;
					height: 100%;
					overflow-y: auto;
				}
				.example .chapters li {
					margin-bottom: 1px;
				}
				.example .chapters li:last-of-type {
					margin-bottom: 0;
				}
				.example .chapters li > .radio-button {
					width: 100%;
					background-color: #ffffff;
				}
				.example .chapters label {
					padding-left: 20px;
				}
				.example .chapters input[type=radio]:checked + label {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					border-left: solid 15px #5a91e2;
					box-shadow: 0px 0px 20px #dee0e0;
				}
			.example .articles {
				margin-left: 40%;
				height: 100%;
				background-color: #ffffff;
			}
				.example .articles ul {
					padding: 30px;
					height: 100%;
					overflow-x: hidden;
					overflow-y: auto;
				}
				.example .articles li {
					margin-bottom: 15px;
				}
				.example .articles .checkbox {
					color: #5a91e2;
				}
				.example .articles .checkbox .unchecked {
					color: #595757;
				}
			.sub-categories .organization  {
				height: 650px;
				max-height: 80%;
				overflow-y: auto;
				background: #fff;
			}
				.sub-categories .organization .width33 {
					border-right: 1px dotted #ebeef2;
				}
				.sub-categories .organization .width33:last-child {
					border-right: 0;
				}
				.sub-categories .organization .top-dotted {
					border-top: 1px dotted #ebeef2;
				}
				.sub-categories .organization ul.selectElement {
					display: none;
					padding: 15px 20px 0 20px;
				}
				.sub-categories .organization ul.column2 li {
					display: inline-block;
					width: 50%;
				}
				.sub-categories .organization ul li {
					padding: 0 0 15px 0;
				}
				.sub-categories .organization ul li label.label {
					padding-left: 8px;
				}

.search-result-container {
	padding-top: 303px; /* scritp: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
	padding-bottom: 60px;
}
	.search-result:after {
		content: '';
		display: block;
		clear: both;
	}
	.example-result {
		float: left;
		width: 40%;
	}
		.example-result > ul {
			margin-right: 15px;
		}
		.example-result li {
			padding: 30px;
			margin-bottom: 2px;
			background-color: #ffffff;
		}
		.example-result li:after {
			content: '';
			display: block;
			clear: both;
		}
		.example-result li:last-of-type {
			margin-bottom: 0;
		}
		.example-result li .header {
			margin-bottom: 15px;
			color: #3e3a39;
			font-size: 1.3em;
			font-weight: 700;
		}
		.example-result li .footer {
			float: right;
			margin-top: 15px;
		}
		.example-result li .footer button {
			width: auto;
			padding: 10px 15px 10px 15px;
			background-color: #5a91e2;
			color: #ffffff;
			font-weight: 700;
		}
	.organ-article-result {
		margin-left: 40%;
	}
		.organ-article-result div > .header {
			padding: 30px 10px 30px 20px;
			font-size: 1.2em;
			font-weight: 700;
		}
		.organ-article-result .no-result {
			padding-left: 20px;
			padding-bottom: 40px;
			color: #9fa0a0;
		}
	.organization-result {
		border-bottom: solid 2px #9fa0a0;
		padding-bottom: 40px;
	}
		.organization-result > .header {
			padding: 0 0 15px 0;
		}
		.organization-result li.organize-item {
			padding: 30px 0 0 0;
			background-color: #ffffff;
			margin-bottom: 15px;
			min-height: 150px;
		}
		.organization-result li.organize-item:last-of-type {
			margin-bottom: 0;
		}
		.organization-result li.organize-item .header {
		}
		.organization-result li.organize-item .title {
			position: relative;
			line-height: 24px;
		}
		.organization-result li .organ-name {
			font-size: 1.3em;
			font-weight: 700;
			line-height: 1.3em;
			padding: 0 30px;
		}
		.organization-result li .organ-summary {
			padding: 0 20px 0 20px;
			height: 45px;
			*zoom;
		}
		.organization-result li .organ-summary:after {
			clear: both;
			content: ' ';
			display: block;
		}
		.organization-result li .organ-summary span {
			display: inline-block;
			cursor: pointer;
			padding: 10px
		}
		.organization-result li .organ-summary span:hover {
			color: #5a91e2;
		}
		.organization-result li .organ-summary .organ-detail {
			float: left;
		}
		.organization-result li .organ-summary .organ-agreement {
			padding: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			text-decoration: underline;
			float: right;
			transition: background 0.4s, color 0.4s;
			-webkit-transition: background 0.4s, color 0.4s;
			-moz-transition: background 0.4s, color 0.4s;
			-ms-transition: background 0.4s, color 0.4s;
			-o-transition: background 0.4s, color 0.4s;
		}
		.organization-result li .organ-summary .organ-agreement.activate {
			background: #5a91e2;
			color: #fff;
			text-decoration: none;
		}
		.organization-result li .organ-summary .organ-agreement:after {
			font-family: "FontAwesome";
			content: "\f0fe";
			padding-left: 5px;
		}
		.organization-result li .organ-summary .organ-agreement.activate:after {
			content: "\f146";
		}
		.organization-result li .agreements {
			font-size: 0.95em;
		}
		.organization-result li .agreements dl.agreements-items {
			display: none;
			margin: 0;
			padding: 0;
			width: 100%;
			background: #5a91e2;
			color: #fff;
			transition: background-color 0.4s;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
		}
		.organization-result li .agreements dl.agreements-items.collapsed {
			background: #fff;
		}
		.organization-result li .agreements dl.agreements-items dt {
			display: none;
		}
		.organization-result li .agreements dl.agreements-items dd {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		.organization-result li .agreements dl.agreements-items dd ul {
			margin: 0;
			padding: 30px;
		}
		.organization-result li .agreements.collapsed dl.agreements-items dd ul {
		}
		.organization-result li .agreements dl.agreements-items dd ul li.agreement {
			position: relative;
			margin: 0;
			padding: 0 80px 5px 0;
		}
		.organization-result li .agreements dl.agreements-items dd ul li.agreement .download {
			position: absolute;
			right : 0;
			top: 0;
		}
		.organization-result li .agreements dl.agreements-items dd ul li.agreement .download .pdf-download {
			color: #fff;
		}
		.organization-result li .agreements dl.agreements-items dd ul li.agreement .download .pdf-download:hover {
			color: #595757;
		}
		.organization-result li .agreements dl.agreements-items dd ul li.agreement .download .pdf-download:before {
			font-family: "FontAwesome";
			content: "\f1c1";
			padding-right: 5px;
		}
	.article-result {}
		.article-result > .header {
			padding: 0 10px 30px 0;
		}
		.article-result li.article-item {
			position: relative;
			padding: 30px;
			background-color: #ffffff;
			margin-bottom: 15px;
		}
		.article-result li.article-item:last-of-type {
			margin-bottom: 0;
		}
		.article-result li.article-item .header {
			margin-bottom: 30px;
		}
		.article-result li.article-item .title {
			position: relative;
			line-height: 24px;
			margin-bottom: 15px;
		}
		.article-result li.article-item .organ-name {
			font-size: 1.3em;
			line-height: 1.3em;
			font-weight: 700;
			padding-right: 120px;
		}
		.article-result li.article-item .organ-name:hover {
			color: #5a91e2;
		}
		.article-result li.article-item span.view-organize {
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			font-weight: 700;
			color: #5a91e2;
			cursor: pointer;
			text-decoration: underline;
			transition: color 0.4s;
			-webkit-transition: color 0.4s;
			-moz-transition: color 0.4s;
			-ms-transition: color 0.4s;
			-o-transition: color 0.4s;
		}
		.article-result li.article-item span.view-organize:after {
			font-family: "FontAwesome";
			content: "\f0fe";
			padding-left: 5px;
		}
		.article-result li.article-item span.view-organize.activated {
			color: #fff;
		}
		.article-result li.article-item span.view-organize.activated:after {
			content: "\f146";
		}
		.article-result li.article-item .info {
			color: #9fa0a0;
			font-size: 0.95em;
			font-weight: normal;
		}
		.article-result li.article-item .article-orgsmap {
			position: absolute;
			z-index: 2;
			right: 0;
			top: 0;
			width: 40%;
			max-height: 100%;
			overflow-y: auto;
			display: none;
			background: #5a91e2;
		}
		.article-result li .article-orgsmap ul {
			margin: 0;
			padding: 70px 25px 25px 25px;
		}
		.article-result li .article-orgsmap li {
			margin: 0;
			padding: 0 0 8px 0;
			line-height: 1.3em;
		}
		.article-result li .article-orgsmap li span {
			cursor: pointer;
			font-size: 0.85em;
			color: #fff;
		}
		.article-result li .article-orgsmap li span:hover {
			text-decoration: underline;
		}

	.whole-document {
		margin-bottom: 50px;
		*zoom: 1;
	}
	.whole-document:after {
		clear: both;
		content: ' ';
		display: block;
	}
		.whole-document .meta-info-wrap {
			float: left;
			width: 40%;
			font-size: 0.95em;
		}
			.whole-document .meta-info {
				margin-right: 15px;
				padding: 25px;
				background-color: #f5f6f8;
				color: #9fa0a0;
			}
			.whole-document .meta-info:after {
				content: '';
				display: block;
				clear: both;
			}
			.whole-document .meta-info .column.label {
				float: left;
				font-weight: 700;
				text-align: right;
				border-right: dotted 2px #5a91e2;
			}
			.whole-document .meta-info .row {
				margin-bottom: 10px;
			}
			.whole-document .meta-info .row:last-of-type {
				margin-bottom: 0;
			}
			.whole-document .meta-info .column.label .row {
				width: 80px;
				padding-right: 10px;
			}
			.whole-document .meta-info .column.info {
				margin-left: 90px;
			}
			.whole-document .meta-info-wrap .org-item {
				padding-bottom: 5px;
			}
			.whole-document .meta-info-wrap .org-item span {
				cursor: pointer;
			}
			.whole-document .meta-info-wrap .org-item span:hover {
				text-decoration: underline;
			}
			.whole-document .meta-info-wrap .article-edit-box {
				clear:both;
				margin: 30px 0;
				text-align: center;
			}
			.whole-document .meta-info-wrap .article-edit-box a {
				border: 1px solid #5a91e2;
				color: #5a91e2;
				background: #fff;
				border-radius: 10px;
				padding: 10px 15px;
			}
			.whole-document .meta-info-wrap .article-edit-box a:hover {
				background: #5a91e2;
				color: #fff;
			}
		.whole-document .document {
			padding: 20px;
			margin-left: 40%;
			background-color: #ffffff;
		}
		.whole-document .document h1 {
			margin: 0;
			font-size: 1.5em;
			margin-bottom: 40px;
		}
.inner-container .is-searching {
	position: absolute;
	z-index: 9999999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
}
	.inner-container .is-searching .progress-spinner {
		margin: 750px 0 0 50%;
		font-size: 2.5em;
		color: #5a91e2;
	}
.inner-container > .side {
	position: fixed;
	top: 340px; /* script: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
	right: 30px; /* script: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
}
	.inner-container > .side label {
		font-size: 0.95em;
		font-weight: 700;
		cursor: pointer;
	}
	.inner-container > .side i {
		color: #5a91e2;
		width: 25px;
	}
	.inner-container > .side .save-document i {
		margin-top: 15px;
		margin-left: 1px;
	}
.inner-container > .footer {
	position: fixed;
	z-index: -1;
	bottom: 10px;
	right: 30px; /* script: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
	width: 210px;
	font-weight: 700;
	color: #9fa0a0;
}
	.inner-container > .footer a {
		color: #5a91e2;
	}
	.inner-container > .footer .label {
		margin-top: 15px;
	}
	.inner-container > .footer .db-project {
		font-size: 0.85em;
	}
	.inner-container > .footer .banner {
		float: right;
	}


/* -------------------------------------------- */
.is-searching {
	display: none;
}

.checkbox-options {
	background: #ffffff;
	padding: 15px;
}
.organization .checkbox-options {
	padding: 15px 15px 15px 20px;
}
.organization .checkbox-options p {
	font-size: 1.1em;
	color: #3e3a39;
	font-weight: bold;
	padding-bottom: 30px;
}
.select-options {
	background: #ffffff;
	padding: 15px 15px 0 15px;
}
.select-options .radio-button {
	padding: 15px;
	background: #ebeef2;
}
.select-options .radio-button label {
	font-weight: bold;
	font-size: 1.1em;
}
.select-options .radio-button label i {
	float: right;
}

.width33 {
	position: relative;
	float: left;
	width: 33%;
}

.page-navi-box {
	padding: 30px;
	text-align: center;
}
.page-navi-box ul {
	display: inline-block;
}
.page-navi-box ul li.prev {
	color: #5a91e2;
}
.page-navi-box ul li.prev span {
	display: none;
}
.page-navi-box ul li.prev a:before {
	font-family: "FontAwesome";
	content: "\f104";
}
.page-navi-box ul li {
	font-size: 0.85em;
	padding: 5px 8px;
	margin: 3px;
	display: inline-block;
	background: #fff;
	color: #202020;
}
.page-navi-box ul li.current {
	color: #fff;
	background: #5a91e2;
}
.page-navi-box ul li.next {
	color: #5a91e2;
}
.page-navi-box ul li.next span {
	display: none;
}
.page-navi-box ul li.next a:after {
	font-family: "FontAwesome";
	content: "\f105";
}

.overlay-click {
  cursor: pointer;
}
.organ-info-container {
	background: #fff;
	width: 600px;
	margin: 0 auto;
	border: solid 3px #5a91e2;
	font-family: 'Nanum Barun Gothic';
	font-size: 16px;
	font-weight: 200;
	color: #595757;
	margin-bottom: 60px;
}
.overlay .guide-clause-container,
.overlay .organ-info-container {
	position: fixed;
	z-index: 999999;
	left: 25%;
	top: 25%;
	margin: 0;
	overflow-y: auto;
}
.overlay .guide-clause-container {
	width: 600px;
	margin: 0 auto;
	border: solid 3px #5a91e2;
	font-family: 'Nanum Barun Gothic';
	font-size: 16px;
	color: #595757;
	background: #fff;
}
.overlay .guide-background,
.overlay .organ-background {
	position: fixed;
	z-index: 999998;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ebeef2;
	opacity: 0.7;
}
.guide-clause-container .guide-clause-info-box,
.organ-info-container .organ-info-box {
	position: relative;
	padding: 70px 30px 50px 50px;
}
.guide-clause-container .guide-box-button,
.organ-info-container .org-box-button {
	text-align: center;
}
.guide-clause-container button,
.organ-info-container button {
    display: inline-block;
	padding: 0 25px;
	line-height: 35px;
	border: 0;
	border-radius: 30px;
	width: auto;
	margin: 0 2px;
	outline: none;
	color: #ffffff;
	font-family: inherit;
	font-size: 0.9em;
	font-weight: 700;
	cursor: pointer;
	background-color: #5a91e2;
}
.organ-info-container .organ-name {
	font-size: 1.2em;
	margin-bottom: 15px;
}
.organ-info-container .organ-name span {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
}
.organ-info-container .organ-name .higher-level {
	color: #5a91e2;
	border-bottom: dotted 2px #5a91e2;
	cursor: pointer;
}
.organ-info-container .organ-name .lowest-level {
	font-weight: 700;
}
.organ-info-container .agreements {
}
.organ-info-container .agreements .agreements-items {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 0.85em;
}
.organ-info-container .agreements .agreements-items dt {
	cursor: pointer;
	text-align: right;
}
.organ-info-container .agreements .agreements-items.collapsed dt span {
	background: #fff;
	color: #5a91e2;
}
.organ-info-container .agreements .agreements-items dt span {
	display: inline-block;
	border: 1px solid #5a91e2;
	border-radius: 10px;
	padding: 5px 10px;
	background: #5a91e2;
	color: #fff;
}
.organ-info-container .agreements .agreements-items dt span:hover {
	background: #5a91e2;
	color: #fff;
}
.organ-info-container .agreements .agreements-items dd {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.organ-info-container .agreements .agreements-items.collapsed dd {
	max-height: 0;
}
.organ-info-container .agreements .agreements-items dd ul {
	margin: 15px 0 0 0;
	padding: 15px;
	border: 1px solid #5a91e2;
	border-radius: 10px;
}
.organ-info-container .agreements .agreements-items dd ul li.agreement {
	position: relative;
	margin: 0;
	padding: 0 80px 5px 0;
}
.organ-info-container .agreements .agreements-items dd ul li.agreement:hover {
	color: #5a91e2;
}
.organ-info-container .agreements .agreements-items dd ul li.agreement .download {
	position: absolute;
	right : 0;
	top: 0;
}
.organ-info-container .agreements .agreements-items dd ul li.agreement .download .pdf-download {
	color: #5a91e2;
}
.organ-info-container .agreements .agreements-items dd ul li.agreement .download .pdf-download:before {
	font-family: "FontAwesome";
	content: "\f1c1";
	padding-right: 5px;
}
.organ-info-container .content {
	margin-bottom: 30px;
}
.organ-info-container .content:after {
	content: '';
	display: block;
	clear: both;
}
.organ-info-container .content .column.label {
	width: 150px;
	float: left;
	font-weight: 700;
	text-align: right;
	border-right: dotted 2px #5a91e2;
}
.organ-info-container .content .row {
	line-height: 20px;
	margin-bottom: 20px;
	min-height: 20px;
}
.organ-info-container .content .row:last-of-type {
	margin-bottom: 0;
}
.organ-info-container .content .column.label .row {
	padding-right: 20px;
}
.organ-info-container .content .column.info {
	margin-left: 170px;
}
.organ-info-container .company-info > .header {
	font-weight: 700;
	margin-bottom: 20px;
}
.organ-info-container .footer {
	text-align: center;
}
.guide-clause-container i,
.organ-info-container i {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 16px;
	color: #5a91e2;
	cursor: pointer;
}

.more-box {
	padding: 15px 0 10px 0;
	text-align: right;
}
.more-box.hide {
	display: none;
}
.more-box a {
	display: inline-block;
	border: 1px solid #5a91e2;
	border-radius: 10px;
	padding: 10px;
	background: #fff;
	color: #4d4d4d;
	font-weight: bold;
}
.more-box a:hover {
	color: #fff;
	background: #5a91e2;
}

.guide-indexes {
	color: #595757;
}
.guide-indexes label {
	display: inline-block;
	padding: 10px 10px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #5a91e2;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.1em;
	color: #5a91e2;
}
.guide-indexes label:before {
	font-family: "FontAwesome";
	content: "\f00b";
	padding-right: 15px;
}
.guide-indexes dl {
	margin: 0;
	border-bottom: dotted 1px #ebeef2;
}
.guide-indexes dt {
	cursor: pointer;
	font-weight: bold;
	margin: 0;
	padding: 5px 15px 3px 15px;
	background: #5a91e2;
	color: #fff;
	line-height: 30px;
}
.guide-indexes dt:after {
	float: right;
	font-family: "FontAwesome";
	content: "\f106";
	padding-left: 15px;
}
.guide-indexes dl.collapsed dt {
	background: #fff;
	color: #595757;
}
.guide-indexes dl.collapsed dt:hover {
	background: #ebeef2;
}
.guide-indexes dl.collapsed dt:after {
	content: "\f107";
}
.guide-indexes dd {
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	background: #fff;
	transition: max-height 0.6s;
	-webkit-transition: max-height 0.6s;
	-moz-transition: max-height 0.6s;
	-ms-transition: max-height 0.6s;
	-o-transition: max-height 0.6s;
	max-height: auto;
	overflow: hidden;
}
.guide-indexes dl.collapsed dd {
	max-height: 0;
}
.guide-indexes dd article {
	padding: 4px 15px 4px 30px;
}
.guide-indexes dd article:hover {
	background: #ebeef2;
}
.guide-indexes dd article.current {
	background: #5a91e2;
	color: #fff;
}
.guide-document h3 {
	background: #5a91e2;
	color: #fff;
	margin: 15px 0 10px 0;
	padding: 8px 10px;
}
.guide-document h3:before {
	font-family: "FontAwesome";
	content: "\f02b";
	padding-right: 10px;
}
.guide-document p {
	margin-bottom: 15px;
}
.guide-document blockquote {
	position: relative;
	margin: 0;
	padding: 10px 20px;
	margin: 0 20px;
}
.guide-document blockquote:before {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.85em;
	font-family: "FontAwesome";
	content: "\f10d";
}
.guide-document blockquote:after {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.85em;
	font-family: "FontAwesome";
	content: "\f10e";
}
.hidden {
	display: none;
}
