/* 범용 ****/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
p {
	margin: 0;
	line-height: 1.5em;
}
a:link, a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.app input[type=text], .app button {
	width: 100%;
	height: 100%;
	line-height: inherit;
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
.app button {
	border-radius: 30px;
	cursor: pointer;
}
.app .checkbox-wrap {
	position: relative;
}
.app .checkbox-wrap input[type="radio"],
.app .checkbox-wrap input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
.app .checkbox-wrap input[type="radio"] ~ label.checkbox,
.app .checkbox-wrap input[type="checkbox"] ~ label.checkbox {
	position: relative;
	cursor: pointer;
}
.app .checkbox-wrap input[type="radio"] ~ label.label,
.app .checkbox-wrap input[type="checkbox"] ~ label.label {
	cursor: pointer;
}
.app .checkbox-wrap input[type="radio"] ~ label.checkbox > i,
.app .checkbox-wrap input[type="checkbox"] ~ label.checkbox > i {
	vertical-align: bottom;
}
.app .checkbox-wrap input[type="radio"] ~ label.checkbox > .checked,
.app .checkbox-wrap input[type="checkbox"] ~ label.checkbox > .checked {
	position: absolute;
	bottom: 0;
	left: 0;
}
.app .checkbox-wrap input[type="radio"] ~ label.checkbox > .checked,
.app .checkbox-wrap input[type="checkbox"] ~ label.checkbox > .checked {
	color: transparent;
}
.app .checkbox-wrap input[type="radio"]:checked ~ label.checkbox > .checked,
	.checkbox-wrap input[type="checkbox"]:checked ~ label.checkbox > .checked {
	color: inherit;
}
.app .checkbox-wrap input[type="radio"]:checked ~ label.checkbox > .unchecked,
.app .checkbox-wrap input[type="checkbox"]:checked ~ label.checkbox > .unchecked {
	color: transparent;
}
.hidden {
	display: none;
}
.app .box {
	height: 56px;
	line-height: 56px;
	background-color: #ffffff;
}
.app .box > div {
	float: left;
	height: 100%;
}
.app .box:after {
	content: '';
	display: block;
	clear: both;
}
.app .shadow {
	box-shadow: 0px 10px 10px #dee0e0;
}
.app .radio-button {
	position: relative;
}
.app .radio-button input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
.app .radio-button label {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.app .underline {
	background-color: transparent;
	text-decoration: none;
	border-bottom: 1px solid #5a91e2;
	box-shadow: 0 -6px 0 #5a91e2 inset;
	color: inherit;
}

/* 스크롤바 ****/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #ebeef2;
}
::-webkit-scrollbar-thumb {
	background-color: #cdcbcb;
	border-radius: 5px;
}

/* 로고 ****/
.logo {
	float: left;
	background-image: url("../../../themes/kptu/images/images.svg");
	background-repeat: no-repeat;
}
.logo.logo-org {
	width: 148px;
	height: 50px;
}
.logo.logo-DB {
	width: 33px;
	height: 35px;
	background-position: 0px -60px;
	margin-right: 8px;
}
.logo.logo-DB-project-banner {
	width: 60px;
	height: 64px;
	background-position: 0px -100px;
}

/* ****/
body {
	margin: 0;
	background-color: #ebeef2;
}
.app .container {
	font-family: 'Nanum Barun Gothic', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #595757;
}
.container > .header {
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	height: 85px;
	width: 100%;
	font-family: 'Nanum Barun Gothic', sans-serif;
	font-size: 16px;
	font-weight: 200;
	padding: 20px;
	line-height: 45px;
	background-color: #ffffff;
	color: #5a91e2;
}
.container > .header:after {
	content: '';
	display: block;
	clear: both;
}
	.container > .header .organization {
		float: left;
	}
	.container > .header .title {
		float: left;
		font-size: 1.5em;
		font-weight: 700;
		margin-top: 10px;
		margin-left: 20px;
	}
	.container > .header .title > .logo {
		margin-right: 10px;
	}
	.container > .header .anchors {
		float: right;
		font-weight: 700;
	}
	.container > .header .anchors a {
		margin-left: 10px;
	}
.inner-container {
	position: relative;
	*zoom: 1
}
.inner-container:after {
	clear: both;
	content: ' ';
	display: block;
}
.app-admin .inner-container,
.cadb-theme-kptu .inner-container,
.inner-container .app-page {
	padding-top: 90px;
	max-width: 924px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.cadb-theme-kptu {
	background: #fff;
}
.cadb-theme-kptu .inner-container {
	padding-bottom: 60px;
}
.inner-container > .side {
	position: fixed;
	top: 340px; /* script: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
	right: 30px; /* script: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
}
	.inner-container > .side label {
		font-size: 0.95em;
		font-weight: 700;
		cursor: pointer;
	}
	.inner-container > .side i {
		color: #5a91e2;
		width: 25px;
	}
	.inner-container > .side .save-document i {
		margin-top: 15px;
		margin-left: 1px;
	}
.inner-container > .footer {
	position: fixed;
	z-index: -1;
	bottom: 10px;
	right: 30px; /* script: 이 값은 div.general-keyword와 div.categores의 높이에 따라 변해야 한다. */
	width: 210px;
	font-weight: 700;
	color: #9fa0a0;
	opacity: 0.6;
	transition: opacity 0.8s;
}
.inner-container > .footer:hover {
	opacity: 1;
	transition: opacity 0.8s;
}
	.inner-container > .footer a {
		color: #5a91e2;
	}
	.inner-container > .footer .labels {
		margin-top: 15px;
	}
	.inner-container > .footer .db-project {
		font-size: 0.85em;
	}
	.inner-container > .footer .banner {
		float: right;
	}
