.app-admin {
	background: #fff;
}
.app-admin .inner-container {
	width: 100% !important;
	max-width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 85px !important;
	padding-bottom: 80px;
}
.app-admin .inner-container .top_menu {
	position: fixed;
	z-index: 100000;
	width: 100%;
	background: #333;
	padding: 10px;
	color: #fff;
	*zoom: 1;
}
.app-admin .inner-container .top_menu:after {
	display: block;
	content: ' ';
	clear: both;
}
.app-admin .inner-container .top_menu h2 {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.app-admin .inner-container .top_menu ul.admin-menu {
	display: inline-block;
	float: right;
}
.app-admin .inner-container .top_menu ul.admin-menu li {
	display: inline-block;
	padding: 0 4px;
	font-size: 0.85em;
	border-right: 1px dotted #fff;
}
.app-admin .inner-container .top_menu ul.admin-menu li:last-child {
	border-right: 0;
}
.app-admin .inner-container .top_menu ul.admin-menu li a {
	padding: 4px;
}
.app-admin .inner-container .administrator-content {
	max-width: 924px;
	width: 80%;
	padding-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
}
.app-admin .inner-container .administrator-content.fullscreen {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 100% !important;
}

/* articles list */
.app-admin .orgs-list-header,
.app-admin .article-list-header,
.app-admin .standard-list-header {
	*zoom: 1;
	margin-bottom: 15px;
	box-shadow: 0px 2px 2px #dee0e0;
}
.app-admin .orgs-list-header:after,
.app-admin .article-list-header:after,
.app-admin .standard-list-header:after {
	clear: both;
	content: ' ';
	display: block;
}
.app-admin .member-list-header form.member-search,
.app-admin .orgs-list-header form.orgs-search,
.app-admin .article-list-header form.article-search,
.app-admin .standard-list-header form.standard-search {
	float: left;
	padding-left: 10px;
	padding-bottom: 5px;
}
.app-admin .member-list-header form.member-search select {
	display: inline-block;
	border: 1px solid #5a91e2;
	border-radius: 14px;
}
.app-admin .member-list-header form.member-search input[type="text"],
.app-admin .orgs-list-header form.orgs-search input[type="text"],
.app-admin .article-list-header form.article-search input[type="text"],
.app-admin .standard-list-header form.standard-search input[type="text"] {
	display: inline-block;
	border: 1px solid #5a91e2;
	width: 200px;
	padding: 0 16px;
	line-height: 28px;
	border-radius: 14px;
}
.app-admin .member-list-header form.member-search button[type="submit"],
.app-admin .orgs-list-header form.orgs-search button[type="submit"],
.app-admin .article-list-header form.article-search button[type="submit"],
.app-admin .standard-list-header form.standard-search button[type="submit"] {
	display: inline-block;
	width: auto;
	padding: 5px 8px;
	background: #5a91e2;
	color: #fff;
	font-weight: normal;
	font-size: 0.85em;
}
.app-admin .member-list-header form.member-search button[type="submit"]:before,
.app-admin .orgs-list-header form.orgs-search button[type="submit"]:before,
.app-admin .article-list-header form.article-search button[type="submit"]:before,
.app-admin .standard-list-header form.standard-search button[type="submit"]:before {
	font-family: "FontAwesome";
	content: "\f00e";
	margin-right: 5px;
}
.app-admin .article-list-header form.article-button,
.app-admin .standard-list-header form.standard-button {
	float: right;
}
.app-admin ul.articles-list,
.app-admin ul.standards-list {
}
.app-admin ul.articles-list li.article-item,
.app-admin ul.standards-list li.standard-item {
	padding: 10px 10px;
	border-bottom: 1px dotted #ccc;
}
.app-admin ul.articles-list li.article-item > div,
.app-admin ul.standards-list li.standard-item > div {
	position: relative;
	padding-right: 120px;
}
.app-admin ul.articles-list li.article-item > div .buttons,
.app-admin ul.standards-list li.standard-item > div .buttons {
	position: absolute;
	top: 0;
	right: 0;
}
.app-admin table.orgs-list .modify a,
.app-admin table.orgs-list .delete a,
.app-admin table.member-list .modify a,
.app-admin table.member-list .delete a,
.app-admin ul.articles-list li.article-item > div .buttons a,
.app-admin ul.standards-list li.standard-item > div .buttons a {
	display: inline-block;
	padding: 3px 5px;
	border-radius: 10px;
	color: #fff;
	font-size: 0.85em;
	margin-left: 10px;
}
.app-admin table.member-list .modify a,
.app-admin table.member-list .delete a,
.app-admin table.orgs-list .modify a,
.app-admin table.orgs-list .delete a {
	padding: 2px 4px;
	margin: 0;
}
.app-admin table.orgs-list .modify a:hover,
.app-admin table.orgs-list .delete a:hover,
.app-admin table.member-list .modify a:hover,
.app-admin table.member-list .delete a:hover,
.app-admin ul.articles-list li.article-item > div .buttons a:hover,
.app-admin ul.standards-list li.standard-item > div .buttons a:hover {
	color: #ebeef2;
	box-shadow: 0px 2px 2px #dee0e0;
}
.app-admin table.member-list .modify a,
.app-admin table.orgs-list .modify a,
.app-admin ul.articles-list li.article-item > div .buttons a.modify,
.app-admin ul.standards-list li.standard-item > div .buttons a.modify {
	background: #5a91e2;
}
.app-admin table.member-list .delete a,
.app-admin table.orgs-list .delete a,
.app-admin ul.articles-list li.article-item > div .buttons a.delete,
.app-admin ul.standards-list li.standard-item > div .buttons a.delete {
	background: #f00;
}

.app-admin .page-nav-wrapper {
	padding-top: 25px;
	padding-bottom: 15px;
	text-align: center;
}
.app-admin .page-nav-wrapper ul {
	display: inline-block;
}
.app-admin .page-nav-wrapper ul > li {
	display: inline-block;
	padding: 4px 6px;
	margin: 0 2px;
	border: 1px solid #ccc;
	font-size: 0.85em;
}
.app-admin .page-nav-wrapper ul > li.p_page {
}
.app-admin .page-nav-wrapper ul > li.page {
}
.app-admin .page-nav-wrapper ul > li.page.current {
	font-weight: bold;
	background: #5a91e2;
	color: #fff;
}
.app-admin .page-nav-wrapper ul > li.n_page {
}
.app-admin .article-button,
.app-admin .standard-button {
	text-align: right;
	padding: 4px 10px;
}
.app-admin .article-button a.fields,
.app-admin .article-button a.add,
.app-admin .standard-button a.fields,
.app-admin .standard-button a.add {
	padding: 5px 8px;
	border-radius: 15px;
	color: #fff;
	font-size: 0.85em;
	line-height: 1.5em;
	background: #5a91e2;
}
.app-admin .article-button a.fields:hover,
.app-admin .article-button a.add:hover,
.app-admin .standard-button a.fields:hover,
.app-admin .standard-button a.add:hover {
	color: #ebeef2;
	box-shadow: 0px 2px 2px #dee0e0;
}

.app-admin .member-list th,
.app-admin .orgs-list th {
	line-height: 1.3em;
	padding: 5px 8px;
	border-bottom: 1px solid #5a91e2;
	border-right: 1px solid #ccc;
	box-shadow: 0px 2px 0 #dee0e0;
	white-space: nowrap;
}
.app-admin .member-list th.delete,
.app-admin .orgs-list th.delete {
	border-right: 0;
}
.app-admin .member-list td,
.app-admin .orgs-list td {
	line-height: 1.5em;
	border-bottom: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	padding: 5px 8px;
}
.app-admin .orgs-list td.nojo {
	white-space: nowrap;
}
.app-admin .member-list td.modify,
.app-admin .member-list td.delete,
.app-admin .orgs-list td.modify,
.app-admin .orgs-list td.delete {
	text-align: center;
	white-space: nowrap;
}
.app-admin .member-list td.delete,
.app-admin .orgs-list td.delete {
	border-right: 0;
}

/* edit organize */
.app-admin .member-info .header,
.app-admin .organ-info .header {
	padding-top: 20px;
}
.app-admin .member-info .header .member-name,
.app-admin .organ-info .header .organ-name {
	font-size: 1.4em;
	font-weight: 700;
}

/* edit articles */
.app-admin .administrator-content form#article-edit-form {
	padding-top: 90px;
}
.app-admin .administrator-content fieldset.form-header {
	top: 125px;
	background: #fff;
	box-shadow: 0px 2px 2px #dee0e0;
}
.app-admin .administrator-content fieldset.fields-group.content {
	box-shadow: 0px 2px 2px #5a91e2;
}

form#member-edit-form fieldset.fields-member input[type="text"] {
	width: 300px;
	border: 1px solid #5a91e2;
	line-height: 30px;
	padding: 0 5px;
}
form#member-edit-form fieldset.fields-member input[type="password"] {
	width: 300px;
	border: 1px solid #5a91e2;
	padding: 3px 5px;
}
form#member-edit-form fieldset.fields-member select {
	border: 1px solid #5a91e2;
	padding: 0 5px;
}
form#member-edit-form fieldset.fields-member.collapsed {
	display: none;
}

form#member-edit-form fieldset.buttons {
	padding-top: 20px;
	text-align: center;
}
form#member-edit-form fieldset.buttons button {
	background-color: #5a91e2;
	color: #ffffff;
	font-weight: 700;
	border-radius: 10px;
	width: auto;
	height: auto;
	padding: 10px;
	cursor: pointer;
}
form#member-edit-form fieldset.buttons button.delete {
	display: none;
}
form#member-edit-form fieldset.buttons button.delete.show {
	display: inline-block;
}
.saving {
}
.saving .saving-background{
	position: fixed;
	z-index: 88888888;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.6;
}
.saving .is-loading {
	position: fixed;
	z-index: 88888889;
	left: 50%;
	top: 50%;
	color: #fff;
	width: 100px;
	height: 100px;
	font-size: 100px;
	font-weight: 100px;
}

/* 경고창 */
.alert-dialog {
	position: fixed;
	z-index: 9999999;
	left: 25%;
	top: 25%;
	background: #f00;
	color: #fff;
	border-radius: 10px;
	width: auto;
	box-shadow: 0px 5px 5px #dee0e0;
}
.alert-dialog .alert-dialog-inner {
	padding: 20px;
}
.alert-dialog .close {
	position: absolute;
	z-index: 99999999;
	right: -10px;
	top: -10px;
	width: 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	background: #f00;
	text-align: center;
}
